
body {
    font-family: 'Nunito', sans-serif;
}

.navbar-brand {
    font-family: 'Pacifico', cursive;
}

.mx-auto {
    width: 50%;
}

.nav-pills .open .dropdown-toggle, .nav > .open.active > a:hover {
    background-color:#222;
    border-color: #333;
    }